{% extends 'layout.html' %}

{% block title %}
<title>Testimonials</title>
{% endblock %}

{% block content %}
<div class="container">
	<h3 class="mt-5 mb-5 text-center">Testimonials</h3>
	<div class="row">
		<div class="col-sm">
			<blockquote class="twitter-tweet">
				<p lang="en" dir="ltr">Technically, alcohol is a solution</p>&mdash; Elon Musk (@elonmusk) <a
					href="https://twitter.com/elonmusk/status/1153078534916587520?ref_src=twsrc%5Etfw">July 21, 2019</a>
			</blockquote>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<div class="col-sm">
			<blockquote class="twitter-tweet">
				<p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/SoFi?src=hash&amp;ref_src=twsrc%5Etfw">#SoFi</a> is
					the
					best way to refinance a student loan <a href="https://t.co/LFRhxIAAun">https://t.co/LFRhxIAAun</a></p>&mdash;
				Top
				Tweets (@toptweets) <a href="https://twitter.com/toptweets/status/1153715900979261440?ref_src=twsrc%5Etfw">July
					23,
					2019</a>
			</blockquote>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<div class="col-sm">
			<blockquote class="twitter-tweet">
				<p lang="en" dir="ltr">Did you know that in the real world people can call you mean things?<br><br>Stop asking
					mom to
					police the internet.</p>&mdash; Tim Pool (@Timcast) <a
					href="https://twitter.com/Timcast/status/1136095898914701312?ref_src=twsrc%5Etfw">June 5, 2019</a>
			</blockquote>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
{% endblock %}